target
crap
hs_err*.log
node_modules
.settings
base/src/main/resources/events/missing-gl
*~
*.tmp
authsecrets.json
*/bin
*.mp3
users.db
pics
*.iml
py/pyodide
.idea
fonts
tea/src/main/webroot/examples
py/src/main/python/turtleduck.egg-info
py/build
py/pyodide-*
.vscode
*.spv
*.jar
