$PHOSPHOR_P1: #4aff00; // ~525nm
$PHOSPHOR_P19: #ffdf00; // ~590nm

$water: #66e;
$page: #ccd;
$page-light: #eeeaea;
$pen: #222;
$pen-sharp: #000;
$prompt: #fa6;
$prompt-half: #880;
$terminal: $PHOSPHOR_P1;
$terminal-half: $PHOSPHOR_P19;
$terminal-alt: $PHOSPHOR_P19;
$sun: color.adjust($page, $hue: 180);
$button-bg-header: color.scale($page, $lightness: -20%);
$button-bg-normal: color.scale($sun, $lightness: -20%);
$button-bg-hover: color.scale($sun, $lightness: +10%);
$button-bg-active: color.scale($sun, $lightness: -40%);
$border-active: $pen-sharp;
$border: $pen;
$bgdark: #111;
$bglight: #eee;

$LIGHT_BLUE: rgb(50%, 50%, 100%);
$BLUE: rgb(0%, 0%, 100%);
$OLIVE: rgb(50%, 50%, 0%);
$MAROON: rgb(50%, 0%, 0%);


$debug: $LIGHT_BLUE;
$info: $BLUE;
$warning: #ff0;
$error: #f00;

:root {
	--normalBg: $button-bg-normal;
	--hoverBg: $button-bg-hover;
	--activeBg: $button-bg-active;
	--headerBg: $button-bg-header;
	--normalFg: $pen;
	--hoverFg: $pen-sharp;
}