@mixin fill-container {
	width: 100%;
	@include for-tablet-landscape-up {
		height: 100%;
	}
}
@mixin fill-container-height {
	@include for-tablet-landscape-up {
		height: 100%;
	}
}
@mixin lores-font {
	//font-family: "Fantasque Sans Mono", "Monoid", monospace;
	
	//font-size-adjust: .71428;
}

@mixin pixel-font {
	font-family: "PressStart2P Narrow", "Fantasque Sans Mono","Monoid", monospace;
	font-size-adjust: .71428;
}
@mixin hires-font {
	//font-family: "Glasstown-NBP", sans-serif;
	//font-family: "Fantasque Sans Mono", "Monoid", monospace;
//	font-size-adjust: 0.66;	
	letter-spacing: -0.06em;
}

@mixin normal-font{
	font-family: "Fantasque Sans Mono", "Monoid", monospace;
	font-size-adjust: .6;
}

@mixin tiny-font {
	font-family: "TeenyTinyPixls", sans-serif;
}
