$scrollbar-color: color.scale(#fa0, $lightness: -50%);
$scrollbar-color-hi: color.scale(#fa0, $lightness: -25%);

::-webkit-scrollbar {
  width: .75rem;
  height: .75rem;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: $scrollbar-color;
  //border-top: .25rem double $scrollbar-color;
  // border-bottom: .25rem double $scrollbar-color;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: $scrollbar-color-hi;
}

::-webkit-scrollbar-thumb:active {
  background: #000;
}

::-webkit-scrollbar-track {
  background: #333;
  border: 2px solid $scrollbar-color;
  border-radius: 0px;
}

::-webkit-scrollbar-track:hover {
  background: #000;
  border: 2px solid $scrollbar-color-hi;
}

::-webkit-scrollbar-track:active {
  background: $scrollbar-color-hi;
}

::-webkit-scrollbar-corner {
  background: transparent;
}


/*
::-webkit-scrollbar {
  width: .75rem;
  height: .75rem;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: $scrollbar-color;
  border-left: 2px ridge $scrollbar-color;
  border-right: 2px groove $scrollbar-color;
  border-top: 2px solid #0000;
  border-bottom: 2px solid #0000;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: $scrollbar-color-hi;
}
::-webkit-scrollbar-thumb:active {
  background: #000;
}
::-webkit-scrollbar-track {
  background: #333;
  border: 2px solid $scrollbar-color;
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #000;
  border: 2px solid $scrollbar-color-hi;
}
::-webkit-scrollbar-track:active {
  background: $scrollbar-color-hi;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
*/