@use "sass:color";
@import 'defs.scss';
@import 'mixins.scss';
@import 'normalize/normalize.scss';
@import 'breakpoints.scss';
@import 'colors.scss';
@import 'normal.scss';
@import 'fonts.scss';
@import 'scrollbar.scss';
@import 'button.scss';



pre,
code,
kbd,
samp {
	@include normal-font;
	font-size: inherit;
	color: #8aff00;
	white-space: pre-wrap;
}

pre {
	word-break: break-all;
}

@keyframes ScrollBackground {
	0% {
		background-position: 50% -100%
	}

	60% {
		background-position: 50% -100%
	}

	75% {
		background-position: 50% 200%
	}

	100% {
		background-position: 50% -100%
	}
}

.right {
	float: right;
	clear: right;
}

.left {
	float: left;
	clear: left;
}


@media (hover: hover) and (pointer: fine) {
	.phone-only {
		display: none;
	}
}

.flashtext {
	background-image: linear-gradient(25deg, #0000 40%, #fff 50%, #0000 60%);
	background-size: 100% 200%;
	background-clip: text;
	-webkit-background-clip: text;
	background-repeat: no-repeat;
	color: transparent;
	animation: ScrollBackground 5s linear infinite;
	background-color: $terminal;
}

#page {
	background: $page-light;
	background: radial-gradient(ellipse at bottom right, #aab 0%, #667 100%); //radial-gradient(ellipse at top right, $page-light 0%, $page 100%);
}

#page.login {
	background: #555;
	background-size: cover;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	//background-image: url(../images/turtleduck-bg.png);
	background: radial-gradient(ellipse at top right, #444 0%, #110811 100%);
}

#page.login .box {
	border: none;
	background: none;
}

#top {
	@include for-tablet-landscape-up {
		@include pixel-font;
	}
}

#bottom {
	@include hires-font;
}

.explorer {}

html {
	font-size: 14px;

	@include for-portrait-only {
		font-size: 12px;
	}

	@include for-big-desktop-up {
		font-size: 16px;
	}

	//scrollbar-width: thin; 
	scrollbar-color: #fa0 #3338;
	&[borb-drop="move"] {
		cursor: cell !important;
		outline: 2px solid green;
	}
	&[borb-drop="none"] {
		cursor: no-drop !important;
		outline: 2px solid red;
	}
	
}

body {
	@include normal-font;
	@include lores-font;
	height: 100vh;
	margin: 0;
	border-color: $border;
	font-size-adjust: 0.6;
}

body.login {
	border-color: $terminal;
	height: auto;
	min-height: 100vh;
}

code,
pre {
	@include lores-font;
}

sub {
	font-size: 50%;
}

.ew-resizer,
.ns-resizer {
	//	position: absolute;	
	//	background:  #3336;
}

.ew-resizer:hover,
.ns-resizer:hover {
	background: #ccd8;
}

.ew-resizer {
	left: 100%;
	height: 100%;
	width: .6rem;
	margin: 0 auto;
	cursor: ew-resize;
}

.ns-resizer {
	bottom: 100%;
	width: 100%;
	height: .6rem;
	margin: -.25rem .25rem auto .25rem;
	cursor: ns-resize;
}

a:link {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


*,
*::before,
*::after {
	box-sizing: border-box;
}

p,
dl,
multicol {
	margin-top: .5em 0;
}

button {
	@include lores-font;
	font-family: inherit;
}

.box {
	min-width: 0;
	min-height: 0;
	margin: 0.25rem;
	margin-top: 1.25rem;
	border: 0.2rem solid #ccd;
	padding: 0.25rem;
	box-sizing: border-box;
	position: relative;
	transition: display 2s;
	//overflow:hidden;
	display: flex;
	flex-direction: column;
}

.box.iconified {
	display: none;
}

.dark .box {
	@include dark-background;
}

.light .box {
	@include dark-background;
}

.box.focused {
	border-color: #ff8;
}


#page.login .main {
	grid-column: 1/-1;
	grid-row: 2/-2;
	display: flex;
}


.card {
	//	width: max-content;
	max-width: 100%;
	//	height: max-content;
	margin: 1rem auto;
	border: 0.1rem solid inherit;
	padding: 0.25rem;
	box-sizing: border-box;
	overflow: visible;
}

.card.left {
	width: 70%;
	margin-left: 0
}

.card.right {
	width: 70%;
	margin-right: 0
}

.card blockquote {
	margin: .5rem;
	padding: .5rem;
	font-size: 1rem;
	line-height: 2rem;
	@include pixel-font;

}

#page.login .card {
	color: $terminal;
	background: #000c;
	text-shadow: 0 0 .5rem #5f08;
	background: radial-gradient(ellipse at center, #0006 0%, #000c 100%);
}


figure.card figcaption {
	text-align: right;
}

figure.card figcaption:after {
	content: "";
	display: table;
	clear: both;
}

figcaption img {
	float: right;
	//vertical-align: middle;
	height: 4rem;
	margin: -.8rem .2rem .2rem .5rem;
	//border: 0.1rem solid inherit;

}

.hints .card blockquote:before,
#page.login .card blockquote:before {
	color: #000;
	content: "\201C";
	font-size: 6rem;
	//line-height: 4rem;
	margin-right: 0.2rem;
	text-shadow: 0 0 2rem lime;
	display: inline-block;
	vertical-align: middle;
}

figcaption {
	@include hires-font;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	margin: .5em 0;
	font-weight: normal;
	padding: 0;
}

main.doc-display {
	@include for-tablet-landscape-up {
		overflow-y: auto;
	}
}


.box header,
.box footer {
	@include pixel-font;
	position: relative;
}

.box footer {
	font-size: 0.8rem;
}



div.camera {
	position: relative;
}

.box div.camera {
	height: 95%;
	width: 95%;
	margin: auto;
}

.camera pre {
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%, 0);
	white-space: pre-wrap;
	word-break: break-all;
	z-index: 10;
	text-shadow: 0 0 .1rem black, 0 0 .5rem black;
	width: 100%;
	max-height: 50%;
	padding: .2rem;
	overflow: hidden;
}

.dark .camera pre {
	background: #0008;
	text-shadow: 0 0 1px #000;
}

.light .camera pre {
	background: #fff8;
	text-shadow: 0 0 1px #fff;
}

#camera {
	max-width: 50%;
	max-height: 50%;
}

#camera div.camera {
	border: .2rem solid #ccd;
	margin: .2rem auto;
}

.camera video {
	z-index: 0;
}

.camera canvas {
	z-index: 1;
}

.camera nav,
.camera pre {
	z-index: 2;
}

.camera video,
.camera canvas,
.camera img {
	max-width: 100%;
	max-height: 100%;
	display: none;
	/*	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%, -50%);*/
}

.camera img {
	border: .2rem solid #ff8;
	animation-name: shaking-half;
	animation-duration: 2s;
}

.camera button {
	display: none;
}

.camera.qr-mode button.qr,
.camera.preview-qr-mode button.preview-qr,
.camera.camera-mode button.camera,
.camera.preview-camera-mode button.preview-camera,
.camera button.always {
	display: block;
}

.camera button.snap::before,
.camera button.camera-switch::before,
.camera button.qr-switch::before {
	content: "📷";
	vertical-align: middle;
}

.camera button.qr-switch::before {
	visibility: hidden;
}

.camera button.qr-switch {
	background-image: url(../images/qr-code.png);
	background-size: 1rem;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.camera button.snap:active::before {
	content: "📸";
}

.camera button.snap span,
.camera button.close span,
.camera button.qr-switch span,
.camera button.camera-switch span {
	display: none;
}

.camera button.close::before {
	content: "✖️";
	vertical-align: middle;
}

.camera nav.toolbar {
	display: flex;
	position: absolute;
	bottom: 2%;
	left: 50%;
	transform: translate(-50%, -5%);
	flex-flow: row wrap;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	min-height: 3rem;
}

.camera nav.toolbar.top {
	top: 0;
	left: 0;
	bottom: auto;
	transform: none;

}

.camera nav.toolbar button,
.text button.insert {
	margin: .2em;
	border-radius: 1em;
	padding: .2em .8em;
	box-shadow: .1em .1em .5em black;
	min-height: 1.8em;
	min-width: 1.8em;
}

.camera nav.toolbar button:hover {
	box-shadow: .1rem .1rem .3rem black;
}

.camera nav.toolbar button:active {
	box-shadow: none;
}

.camera nav.toolbar button .icon,
.text button.insert .icon {
	margin: -.2em .2em -.2em -.8em;
	padding: .2em .4em;
	border-radius: 1em;
	display: inline-block;
	background: #ccd;
}

.camera nav.toolbar button.snap {
	line-height: 2rem;
	font-size: 2rem;
	transition: font-size .5s;
}

.camera nav.toolbar button.close {
	margin-left: auto;
	margin-right: .5rem;
	//background-color: transparent;
	padding: .2rem .4rem;
}

.camera button.snap:hover {
	font-size: 2.5rem;
}

.camera button.snap:disabled {
	display: none;
}

pre.with-toolbar {
	position: relative;
	padding-bottom: 1rem !important;
}

pre nav.toolbar {
	position: absolute;
	font-size: 80%;
	bottom: -1rem;
	right: 0;
}

aside.right pre nav.toolbar {
	display: none
}

/*
pre nav.toolbar button {
	position:absolute;
	left:0;
}
.is-very-wide pre nav.toolbar button {
	position:absolute;
	right:0;
}
*/
.iconbox:empty {
	display: none;
}

.iconbox {}

.iconbox button {
	margin: .2rem;
	margin-bottom: .5rem;
	box-shadow: .2rem .2rem .5rem $bgdark;
	padding: 0.1rem;
	font-size: .8rem;
	display: none;
}

.iconbox button.iconified {
	display: inline;
}

.iconbox button.iconified::before {
	content: "🗖";
}

.iconbox button:active {
	margin: .2rem;
	box-shadow: none;
}

.box .box-foot {
	position: absolute;
	right: 0;
	bottom: 0;
	width: auto;
	height: auto;
	padding: 0.125rem 0.25rem;
}

.dark .box-foot,
.dark .footnote {
	color: #fff6;
}

.light .box-foot,
.light .footnote {
	color: #0006;
}

.box .footnote {
	position: absolute;
	left: 0;
	bottom: 0;
	width: auto;
	height: auto;
	padding: 0.125rem 0.25rem;
}

#gfx-hud {
	@include fill-container;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	pointer-events: none;
}

.explorer>.body {
	overflow-x: auto;

	@include for-tablet-landscape-up {
		overflow-y: auto;
	}

	@include fill-container-height;
}

.explorer ul {
	margin: 0.25rem 0.125rem;
	padding-left: 1rem;
}

.explorer li {
	list-style-type: "□ ";
	padding-left: 0.25rem;
	transition: all 2s;
	//cursor: pointer;
}

.explorer li.closed {
	list-style-type: "▹ ";
}

.explorer li.package {
	list-style-type: "📦";
}

.explorer li.java {
	list-style-type: "☕";
}

.explorer li.opened {
	list-style-type: "▿ ";
}

.explorer li::marker {
	font-size: 0.8rem;
}

.explorer .completion li {
	list-style-type: none;
}

.explorer .completion li> :first-child {
	margin-left: -1rem;
}

.explorer {
	@include hires-font;
}

.explorer h2 {
	color: $terminal-alt;
	@include dark-background;
	padding: .25rem;
	margin: 0 -2px;
}

.explorer h2 a,
.explorer h2 a:visited,
.explorer h2 a:link {
	color: $terminal-alt;
	text-decoration: none;
}

:not(.open)>.collapse,
.open>.collapse:empty {
	display: none
}

.explorer h2 a {
	margin-left: 1rem;
	position: relative;
}

.explorer h2 a::before {
	//	content: "▸";
	content: "⯈";
	margin-left: -1rem;
	position: absolute;
	left: 0;
	transition: transform ease .5s;
}

.explorer .open>h2 a::before {
	//content: "▾ ";
	transform: rotate(90deg);
}

.explorer .open>h2 a.empty::before {
	//	content: "▿ ";
}

details.summary-only summary {
	list-style-type: square;
}

#login ul {
	padding: 0
}

#page.login h1 {
	padding: .5rem;
	color: $terminal;
	text-shadow: 0 0 .5rem $terminal;
	@include pixel-font;
}

#page.login .card h1 {
	background: $terminal;
	color: #333;
	padding: .5rem;
	text-align: center;
	text-shadow: 0 0 .5rem #333a;
	font-size: 1.2rem;
}

#page.login .card h1,
#page.login .card h2 {
	font-style: normal;
	//text-transform:uppercase;
	@include pixel-font;
}

#login li {
	list-style-type: none;
	//	border: .2rem solid $terminal;
	//color: #8f8;
	text-shadow: 0 0 .5rem $terminal;
}

#login li:hover {
	list-style-type: none;
	//	border: .2rem solid $terminal;
	background: $terminal;
	color: #000 !important;
	text-shadow: 0 0 .5rem #000;

}

#login a.provider {
	//border: 0.2rem outset $sun;
	display: inline-block;
	margin: 0.5rem;
	padding: 0.2rem 0.5rem;
	font-size: 1.2rem;
	//background-color: $button-bg-hover;
}

#login a.provider:link,
#login a.provider:visited,
#login a.provider:hover,
#login a.provider:active {
	color: inherit;
}

#terms li,
#terms p {
	@include hires-font;
	max-width: $max-text-width;
}



.screen svg {
	@include fill-container;
	cursor: crosshair;
	background: inherit;
}

#xtermjs-wrap {
	position: relative;
	background: $bgdark;
	//padding: 0.25rem;
}



#top,
#bottom {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}

#top {
	background: $page;
	color: $pen;
	justify-content: start;
}

#bottom {
	background: $pen;
	color: $page;
	text-shadow: 0 0 .5rem $page;
	justify-content: space-between;
}

#bottom #foot-left,
#bottom #foot-mid,
#bottom #foot-right {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	padding: .2rem;
	flex-basis: 25%;
	justify-content: space-between;
}

#foot-right div,
#foot-left div {
	margin: auto 0;
	padding: 0 .5rem;
}

#foot-right button {
	background: transparent;
	@include hires-font;
	line-height: normal;
	color: inherit;
}

#bottom span,
#bottom button {
	vertical-align: middle;
}

#error button,
#status button {
	//	padding: 0;
	margin: 0;
	border-style: none;
	//background: inherit;
	//color: inherit;
}

.active {
	display: block !important;
}

#error {
	visibility: hidden;
}

#error.active {
	visibility: visible;
	box-shadow: inset 0 0 .5rem black;
	background: red;
	color: black;
}

#error.active:hover {
	visibility: visible;
	box-shadow: inset 0 0 1rem red;
	background: black;
	color: red;
}

#status.online span {
	color: lime;
	text-shadow: 0 0 1rem lime;
}

#status.offline {
	color: orange;
	text-shadow: none;
}

.last-message {
	max-width: 33vw;
	overflow: hidden;
	position: relative;
}

#last-message {
	transition: opacity .5s, top 0s;
	opacity: 1;
	position: relative;
	top: 0;
}

#last-message.hidden {
	transition: opacity 5s .5s, top cubic-bezier(.19, 1, .22, 1) 3.5s .5s;
	top: -1.5rem;
	opacity: 0;
}

#last-message:hover {
	top: 0;
	opacity: 1;
}

#error>.popup,
#status>.popup {
	position: absolute;
	right: 3.5rem;
	bottom: 2.5rem;
	background: black;
	color: red;
	border: 0.2rem solid red;
	padding: 0.2rem;
	display: none;
	font-family: "Glasstown-NBP", sans-serif;
	font-size-adjust: 0.66;
	width: max-content;
}


#top-menu button,
#top-menu borb-button {
	//background-image:radial-gradient(ellipse at bottom right, #aab 0%, #667 100%);
	//display: inline-block;
	//align-self:stretch;
	min-height: 1rem;

	@include for-portrait-only {
		min-width: 2em;
	}

	@include for-tablet-landscape-up {
		min-width: 9em;
	}
}

button,
borb-button {
	@include lores-font;
}

#top button span.shortcut {
	font-size: .7rem;
	@include normal-font;
	@include hires-font;
}



#top borb-button {
	background-color: $button-bg-header;
}

#top borb-button:hover {
	background-color: $button-bg-hover;
	color: $pen-sharp;
}

#top borb-button.active {
	transition: 0s;
	background-color: $button-bg-active;
}

#top button .the-menu {
	display: none;
	position: absolute;
	left: -.5rem;
	top: calc(100% + .4rem);
	z-index: 8;
	background-color: $button-bg-hover;
	width: calc(100% + .6rem);
	margin: 0;
	padding: .2rem;
	transition: opacity .5s;
	opacity: 0;
}

//#top button:hover .the-menu,
#top button .the-menu.show {
	display: block;
	opacity: 1;
}

#top button .the-menu li {
	display: block;
	padding: .2rem;
}

#top button .the-menu li:hover {
	background-color: $button-bg-active
}

.notification {
	@include tiny-font;
	background: #f008;
	color: white;
	font-size: .6em;
	display: none;
	opacity: 0%;
	//padding: .2rem;
	border-radius: 10rem;
	border: .2rem solid #f008;
	line-height: .9em;
	vertical-align: top !important;
	margin-left: -.1rem;
	//position: relative;
	//right: 0;
	//top: -.5rem;
	transition: opacity 1s;
}

.notification.warning {
	background: #f608;
	border: .2rem solid #f608;
}

.notification.show {
	opacity: 100%;
	display: inline-block;
}

#top-left {
	display: flex;
	justify-content: start;
	align-items: stretch;
	flex-shrink: 0;
	flex-grow: 0;
	width: max-content;
	height: $head-height;
	position: relative;
}

#top-right,
#top-menu {
	font-size: .7rem;
	display: flex;
	flex-flow: row wrap;
	gap: 0.1rem;
	margin: 0 .5em;
	justify-content: stretch;
	align-items: stretch;
	padding: 0.25rem;
}

#top-right {
	flex-grow: 1;
	flex-shrink: 1;
}

#top-menu {
	//align-items: last baseline;
	//grid-template-columns: repeat(10, 1fr);
	//grid-template-rows: [row1] 50% [row2] 50%;
	width: calc(9em * 9 + 2*8*0.1rem);
	max-width: max-content;
	flex-shrink: 1;
	flex-grow: 0
}

#user {
	padding: .2rem;

	@include for-tablet-landscape-up {
		margin-left: auto;
	}
}

#user span,
#user img {
	vertical-align: middle;
}

#user img {
	border: .2rem solid $button-bg-header;
}

#top-menu .row1 {
	@include for-portrait-only {
		display: none;
	}
}

#top-menu .row2 {
	@include for-phone-only {
		display: none;
	}
}

#top .rows {
	min-height: 1rem;
	min-width: 1.5em;

	@include for-desktop-up {
		min-height: 2rem;
		min-width: 3em;
	}

	text-align:center;
	margin-right:.1rem;
}

#logoimg img {
	height: $head-height;
}

#top-left button {
	background-color: transparent !important;
	text-align: left;
	width: auto;
	padding: 0;
	margin: 0;
}

#top-left #logotext {
	@include pixel-font;
	//font-size-adjust: 0.71;
	//font-family: "PressStart2P", "DeluxeFont", "Fantasque Sans Mono", "Monoid", monospace;
	font-size: 1.2rem;
	font-weight: 600;
	padding-top: 0.5rem;
	padding-right: 0.5rem;
	background-image: linear-gradient(rgba($water, 0) 63%, $water 63%);
	position: relative;
}

#logotext .version {
	font-size: 0.6rem;
	line-height: 1rem;
	display: block;
	padding: 0 2px;
}

#logo-experimental {
	//@include normal-font;
	font-size: .7rem;
	line-height: normal;
	display: block;
	position: absolute;
	transform: rotate(-10deg);
	transform-origin: bottom left;
	background: #ff4d00aa;
	color: #000a;
	bottom: -.3rem;
	left: 2rem;
	padding: .1rem;
	//text-shadow: 0 0 .2rem #000, .1rem .1rem .5rem #000;
}

.dark {

	.tab a:visited,
	.tab a:link,
	.tab a:hover,
	.tab a:active,
	nav a:visited,
	nav a:link,
	nav a:hover,
	nav a:active {
		color: black;
		text-decoration: none;
	}
}

nav ul {
	padding: 0px;
	margin: 0 4px;
	list-style-type: none;
}

nav li {
	display: inline-block;
}

#middle-column {
	flex: 1 1 auto;
	display: flex;
	flex-flow: column;
}

#middle-row {
	flex: 2 1 auto;
	display: flex;
	flex-flow: row;
}

#middle-bottom {
	flex: 1 1 auto;
	display: flex;
	flex-flow: row;
}


.editor.wrapper,
.cm-editor,
.terminal {
	width: 100%;
	font-size: 1.4rem;
}

.editor.wrapper .cm-editor {
	@include fill-container-height;
}

.focused.console .cm-cursor {
	border-left-color: #f00;
}

.console .cm-editor {
	height: auto;
	max-height: 70%;
}

.console .cm-editor {
	border-top: 0.1rem solid #ccd;
}

.console .cm-editor.cm-focused {
	border-top: 0.1rem solid #ff8;
}

.terminal-out-container {
	@include for-tablet-landscape-up {
		overflow-y: auto;
	}

	display: flex;
	flex-direction: column-reverse;
}

.terminal-out {
	white-space: pre-wrap;
	word-break: break-all;
	padding: .2rem .5rem;
}

.terminal-out .cm-content {
	//	border-top: .1rem solid;
	//	border-bottom: .1rem solid;
	//	padding-left: .5rem;
}

.terminal {
	display: flex;
	flex-direction: column;
	overflow-anchor: none;
	max-height: 100%;
	max-width: 100%;
}

.console .cm-editor .cm-line:first-child::before {
	content: "›››  "; //"〉"
}

.console .cm-editor .cm-line::before {
	content: "...  "; //"〉"
	letter-spacing: -.5rem;
	opacity: 1;
	transition: opacity .5s;
	margin-left: -.5rem;
}

.console .running .cm-editor .cm-line::before,
.console .waiting .cm-editor .cm-line::before,
.console .waiting .cm-editor .cm-line:first-child::before {
	opacity: 0;
}

.console .waiting .cm-cursor {
	border-left-color: #300;
}

.console .running .cm-cursor {
	border-left-color: #030;
}

.terminal-anchor {
	overflow-anchor: auto;
	height: 1px;
}

.terminal-out .prompt {
	margin-left: -.2rem;
	color: $prompt-half;
	margin-right: .2rem;
}

.terminal-out .diag {
	border-left: .2rem solid currentcolor;
	padding-left: .3rem;
	margin-left: -.5rem;
}

.eval-result img {
	max-height: 1.1em; // *em*, since it should relative to local font size
	margin: .1em .2rem;
	vertical-align: middle;
}

.eval-result img:hover {
	max-height: auto; // *em*, since it should relative to local font size
	margin: .1em .2rem;
	vertical-align: middle;
}

.diag p,
.diag ul {
	margin: .5rem 0;
}

.with-diag-none {
	background: linear-gradient(45deg, #0201 0%, #020 100%) //border-color: $debug !important
}

.with-diag-none .cm-line {
	background: #5f01;
}

.with-diag-debug {
	background: linear-gradient(45deg, #1121 0%, #112 100%) //border-color: $debug !important
}

.with-diag-info {
	background: linear-gradient(45deg, #0021 0%, #002 100%) //	border-color: $info !important
}

.with-diag-warning {
	background: linear-gradient(45deg, #2201 0%, #220 100%) //	border-color: $warning !important
}

.with-diag-error {
	background: linear-gradient(45deg, #2001 0%, #200 100%) //	border-color: $error !important
}

.with-diag-error .cm-line {
	background: #f001;
}

.diag-debug {
	color: $debug
}

.diag-info,
.diag-code {
	color: $terminal
}

.diag-warning {
	color: $warning
}

.diag-error {
	color: $error
}

.diag-code {
	padding-left: 2rem;
}

.diag-between {
	border-width: .2rem .1rem .2rem 0;
	border-style: solid;
}

.diag-message {
	//	padding-left: 1rem;
}

ul.traceback {
	padding: 0;
	list-style: none;
}

ul.fold>li:first-child::before {
	content: "⯈";
	left: 0;
	margin-left: 1rem;
	position: absolute;
	transition: transform ease-in-out .5s;
}

ul.fold.open>li:first-child::before {
	transform: rotate(90deg);
}

ul.fold.open>li:first-child:hover::before {
	transform: rotate(90deg) scale(1.2)
}

ul.fold>li:first-child:hover::before {
	transform: scale(1.2)
}

ul.fold>li {
	display: none;
	position: relative;
}

ul.fold>li:first-child,
ul.fold.open>li {
	display: block;
}

#jvm {
	flex-direction: row;
	display: flex;
	@include fill-container;

}

#jvm h2 {
	padding: 2px;
	border-bottom: 1px solid grey;
	font-size: 1.2rem;
	font-weight: normal;
	color: grey;
	align-self: flex-start;
}

#jvm .selected {
	background-color: #ff8;
	width: 100%;
	display: inline-block;
	position: relative;
}

#jvm .selected::after {
	content: "⯇";
	right: 0;
	margin-right: 1rem;
	position: absolute;
}

#jvm .selected::before {
	content: "⯈";
	left: 0;
	margin-left: 1rem;
	position: absolute;
}

.stackframes {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.stackframe {
	list-style: none;
	text-align: center;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	display: inline-block;
	padding: 0px;
	flex-shrink: 3;
}

.stackframe-args {
	background-color: #ffe;
}

.stackframe-locals {
	background-color: #fef;
}

.stackframe-internal {
	background-color: #eff;
}

.completion {
	position: absolute;
	bottom: .2rem;
	z-index: 2000;
	overflow: hidden;
	max-height: 75vh;
	max-width: 50vw;
	width: max-content;
	flex-direction: column;

	details {
		font-style: italic;
		opacity: 60%;
	}

	details:hover,
	details[open] {
		opacity: 100%;
	}

	a:link,
	a:visited,
	a:hover {
		text-decoration: none;
		color: inherit;
	}

	h3 {
		font-weight: bold;
		font-size: 1.2rem
	}

	ul {
		overflow-y: scroll;
		overflow-x: auto;
	}

	datalist {
		display: block;
		@include fill-container-height;
		overflow: scroll;
	}
}

.dark .completion {
	background: #333;
	color: $terminal;
}

.dark .completion details {
	color: $terminal-alt;
}

.light .completion {
	background: $page-light;
	color: $pen;
}

.dark .completion h3 {
	color: #333;
	color: $terminal-alt;
}

.light .completion h3 {
	background: $pen;
	color: $page-light;
}

/*
.stackframe li {
	border-bottom: 1px solid grey;
}
*/
#stack {
	width: 12rem;
	height: 100%;
	background-color: #eee;
	position: relative;
}

#heap {
	width: 40rem;
	height: 100%;
	background-color: #eef;
}

#program {
	width: 20rem;
	height: 100%;
	background-color: #efe;
}

#instructions {
	width: 20rem;
	height: 100%;
	background-color: #fee;
	overflow: auto;
}

#instructions pre {
	font-family: monospace;
	white-space: pre;
}

instructions {
	display: table;
	width: 100%;
}

instruction {
	display: table-row;
	font-family: monospace;
}

instruction.line-even {
	background-color: #eef;
}

linenum,
label,
mnemonic,
args,
nolabel {
	display: table-cell;
	padding: 0px 4px;
}

linenum {
	font-size: 0.8rem;
	color: grey;
}

label::after {
	content: ":";
}

method h6 {
	font-size: 1rem;
	font-weight: medium;
	font-style: italic;
}

.show-splash-help .splashhelp {
	width: 70%;
	height: 75%;
	opacity: 100%;
	left: 15%;
	top: 15%;
	transition: all 0s;
	//	border: .25rem solid $border-active;
	z-index: 2000;
}

.show-splash-help #help {
	background: $button-bg-hover;
	color: $pen-sharp;
	animation: none;
}

.tooltip {
	display: none;
	opacity: 1;
	position: absolute;
	bottom: 100%;
	z-index: 8;
	background-color: $button-bg-hover;
	color: $pen-sharp;
	text-shadow: none;
	width: max-content;
}

.tooltip dl {
	margin: .5rem;
	display: grid;
	grid-template-columns: max-content auto;
}

.tooltip dt {
	grid-column-start: 1;
	margin: 0;
	margin-right: 1em;
}

.tooltip dt::after {
	content: ":";
}

.tooltip dd {
	grid-column-start: 2;
	margin: 0;
}

.tooltip.show {
	display: block;
}

.popup {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 99;
}

.popup.show {
	display: block;
}

.popup.hints,
.popup.warning,
.popup.dialog {
	max-width: 60%;
	background: #111;
	border: 1px solid;
	box-shadow: 0 0 5px, 2px 2px 15px #000;
	padding: .5rem;
}

.hints h1,
.warning h1,
.dialog h1 {
	@include pixel-font;
	color: #000;
	margin: -.5rem -.5rem .5rem -.5rem;
	text-align: center;
}

.hints h1,
.dialog h1 {
	background: $terminal;
}

.warning h1 {
	background: $terminal-alt;
}

.popup.hints,
.popup.dialog {
	color: $terminal;
}

.popup.warning {
	color: $terminal-alt;
}

.file-dialog {
	min-width: 30%;
}

.file-dialog figure {
	text-align: left;
}

@keyframes shaking-full {
	0% {
		transform: rotate(0deg)
	}

	10% {
		transform: rotate(5deg)
	}

	20% {
		transform: rotate(-5deg)
	}

	30% {
		transform: rotate(4deg)
	}

	40% {
		transform: rotate(-4deg)
	}

	50% {
		transform: rotate(3deg)
	}

	60% {
		transform: rotate(-3deg)
	}

	70% {
		transform: rotate(2deg)
	}

	80% {
		transform: rotate(-2deg)
	}

	90% {
		transform: rotate(1deg)
	}

	100% {
		transform: rotate(0deg)
	}
}

@keyframes shaking-half {
	0% {
		transform: rotate(0deg)
	}

	10% {
		transform: rotate(2.5deg)
	}

	20% {
		transform: rotate(-2.5deg)
	}

	30% {
		transform: rotate(2deg)
	}

	40% {
		transform: rotate(-2deg)
	}

	50% {
		transform: rotate(1.5deg)
	}

	60% {
		transform: rotate(-1.5deg)
	}

	70% {
		transform: rotate(1deg)
	}

	80% {
		transform: rotate(-1deg)
	}

	90% {
		transform: rotate(.5deg)
	}

	100% {
		transform: rotate(0deg)
	}
}

@keyframes bouncy-button {
	0% {
		background: $button-bg-hover;
		color: $pen-sharp;
		transform: rotate(0deg)
	}

	10% {
		color: $water
	}

	20% {
		color: $pen-sharp;
		transform: rotate(5deg)
	}

	30% {
		background: $button-bg-active;
		color: $water
	}

	40% {
		color: $pen-sharp;
		transform: rotate(-3deg)
	}

	50% {
		background: $button-bg-hover;
		color: $water
	}

	60% {
		color: $pen-sharp;
		transform: rotate(2deg)
	}

	70% {
		color: $water
	}

	80% {
		background: $button-bg-normal;
		color: $pen;
		transform: rotate(-1deg)
	}

	90% {
		color: $water
	}

	100% {
		color: $pen;
		transform: rotate(0deg)
	}
}

#help {
	background: $button-bg-header;
	color: $pen;
	animation-name: bouncy-button;
	animation-duration: 1s;
	//animation-iteration-count: 1;
	//animation-direction: alternate-reverse;
	animation-timing-function: ease-out;
}

.splashhelp {
	box-shadow: 0px 0px 1rem $page;
	//border-width: 0;
	overflow: hidden;
	background-color: $sun;
	opacity: 0%;
	color: $pen;
	padding: .25rem;
	width: 0;
	height: 0;
	left: 85%;
	top: 0%;
	position: absolute;
	@include lores-font;
	transition: opacity .5s ease-out, height .25s ease-out, width .25s ease-out .125s, left .25s ease-out .125s, top .25s ease-out .125s, border 1s ease-out;
	z-index: -1000;
}

.splashhelp h2 {
	padding: .25rem;
	margin: -.25rem -.25rem 0 -.25rem;
	@include lores-font;
	background-color: $page;
	color: $pen-sharp;
	text-align: center;
}

.splashhelp a:hover {
	color: $pen-sharp;
	background: $water;
}

.splashhelp code {
	color: $terminal-half;
}

.shell-sample li,
.shell-sample a:link,
.shell-sample a:visited {
	color: $terminal-half;
}

.shell-sample a:hover {
	background: $terminal-half;
	color: $sun;
}

ul.shell-sample {
	padding-left: 1rem;
}

.shell-sample li {
	list-style-type: "";
	text-indent: -2rem;
	padding-left: 2rem;
}

.shell-sample li::before {
	content: "> ";
	color: $prompt;
}

.shell-sample li li {
	padding-left: 2rem;
}

.shell-sample li li::before {
	content: "";
	color: $prompt;
}

.hints blockquote p:first-child::before {
	content: "“";
	font-size: 2rem;
	initial-letter: 2;
}

.hints blockquote p:last-child::after {
	content: "“";
	font-size: 2rem;
	initial-letter: 2;
}

.hints blockquote footer {
	font-style: italic;
	text-align: right;
}


div#excavator {
	background-size: 51px 26px;
	position: absolute;
	left: -200px;
	top: 500px;
	width: 51px;
	height: 26px;
	rotate: -20deg;
	transition: left 20s, top 20s, rotate 7s 12s;
	background-image: url(../images/excavator-still.gif);
}

div#excavator.working {
	left: 290px;
	top: 480px;
	//	left: 395px;
	//	top: 575px;
	rotate: 5deg;
}

div#excavator.digging {
	background-image: url(../images/excavator.gif);
}

article,
aside,
footer,
header,
nav,
section {
	display: block;
}

.cmt-comment,
.hljs-comment {
	color: #880;
}

.cmt-typeName,
.hljs-builtin-name,
.hljs-type {
	color: #cc0;
}

.cmt-literal {}

.cmt-string,
.hljs-string,
.hljs-bullet {
	color: #a8e389;
}

.cmt-number,
.hljs-number {
	color: #3f3;
}

.cmt-heading {
	font-weight: bold;
	color: #3f3;
}

.cmt-keyword,
.hljs-selector-class,
.hljs-keyword,
.hljs-symbol,
.hljs-literal {
	color: #f6f;
}

.cmt-operator {
	color: #56b6c2;
}

.cmt-punctuation {}

.cmt-meta {
	color: #880;
}

.cmt-variableName,
.hljs-variable,
.hljs-name,
.hljs-params {
	color: #3f3;
}

.cmt-propertyName {
	color: #3f3;
}

.cmt-labelName {
	color: #3f3;
}

.cmt-namespace {
	color: #cc0;
}

.cmt-macroName {
	color: #3f3;
}

.cmt-bool {
	color: #d19a66;
}

.cmt-string2 {
	color: #56b6c2;
}

.cmt-url {
	color: #56b6c2;
}

.cmt-atom {
	color: #d19a66;
}

.cmt-emphasis {
	font-style: italic;
}

.cmt-strong {
	font-weight: bold;
}

.cmt-link {
	color: #880;
	text-decoration: underline;
}

.cmt-inserted {
	color: #a8e389;
}

.cmt-deleted {
	color: #3f3;
}

.cmt-invalid {
	color: #ffffff;
}

.cmt-variableName .cmt-definition {}

.cmt-variableName .cmt-local {}

.cmt-variableName2,
.hljs-attribute,
.hljs-attr {
	color: #d19a66;
}

/*
  xt256.css

  Contact: initbar [at] protonmail [dot] ch
         : github.com/initbar
*/

.hljs {
	display: block;
	overflow-x: auto;
	padding: 0.5em;
}

.hljs-subst {
	color: #eaeaea;
}

.hljs-emphasis {
	font-style: italic;
}

.hljs-strong {
	font-weight: bold;
}

.hljs-selector-id,
.hljs-quote {
	color: #00ffff;
}

.hljs-title {
	color: #00ffff;
	font-weight: bold;
}

.hljs-tag,
.hljs-section {
	color: #000fff;
}

.hljs-selector-tag {
	color: #000fff;
	font-weight: bold;
}

.hljs-built_in,
.hljs-regexp,
.hljs-link {
	color: #ff00ff;
}

.hljs-meta {
	color: #fff;
	font-weight: bolder;
}

main.grid>div {
	display: grid;
	width: 100%;
	height: 100%;
}

main.grid>div>div {
	color: $terminal;
	position: relative;
}

main.grid span {
	position: absolute;
	width: 100%;
	height: 100%;
}

.fade3 {
	opacity: 0%;
	transition: opacity 3s;
}

.shell-type-pyshell::before {
	content: "🐍";
}

.shell-type-jshell::before {
	content: "☕";
}

.shell-type-pyshell span, .shell-type-jshell span {
	display: none;
}

.item-with-icon {
	position: relative;
}
.session-entry {
	color: $pen;
	background: $button-bg-normal;
	list-style: none;
}

.session-entry:hover {
	color: $pen-sharp;
	background: $button-bg-active;
}
.session-entry a:link, a:visited {
	color: $pen;
}
.session-entry a:hover, a:active {
	color: $pen-sharp;
}
.session-entry .time-ago {
	display: block;
	font-size: 80%;
	margin-left: 1rem;
}
.session-list {
	padding: 0;
	max-height: 20vh;
	overflow-y: auto;
}
.icon-list {
	display:block;
	position: absolute;
	text-align: right;
	right: .25rem;
	top: 0;
	padding: .25rem 0;
}
.icon-list .icon {
	font-size:80%;
	padding: 0 0.25rem;
	z-index: 1;
}
.icon .icon-text {
	display:none;
}