@use "sass:color";
@import 'colors.scss';
@font-face {
    font-family: "PressStart2P";
    src: url("../fonts/PressStart2P.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Glasstown-NBP";
    src: url("../fonts/Glasstown-NBP.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "TeenyTinyPixls";
    src: url("../fonts/TeenyTinyPixls.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
@mixin lores-font {
	font-family: "PressStart2P", monospace;
	font-size-adjust: .71428;
}

@mixin hires-font {
	font-family: "Glasstown-NBP", sans-serif;
	font-size-adjust: 0.66;	
}


@mixin tiny-font {
	font-family: "TeenyTinyPixls", sans-serif;
	font-size-adjust: 0.66;	
}

.ace_editor {
	@include lores-font;
}
.ace_gutter {
	@include lores-font;
	font-size: x-small;
}
.ace_gutter-cell::content {
	vertical-align: middle;
}
body {
	@include lores-font;
	height: 100vh;
	margin: 0;
	border-color: $border;
}

code,pre {
	@include lores-font;
}

a:link, a:visited {
	color: $pen;
	text-decoration: none;
}

a:hover {
	color: $water;
}
*, *::before, *::after {
	box-sizing: border-box;
}
$head-height: 3rem;
$foot-height: 2rem;
#page {
	background:#eeeaea;
	height:100vh;
	display: grid;
	grid-gap:1fr;
	grid-template-columns: 10rem repeat(12, minmax(15px,1fr));
	grid-template-rows: $head-height calc(60% - #{$head-height}) calc(40% - #{$foot-height}) $foot-height;
}
#page.login {
	grid-template-rows: $head-height calc(40% - #{$head-height}) calc(60% - #{$foot-height}) $foot-height;
}

#page.mainly-coding, #page.mainly-figure {
	grid-template-rows: $head-height calc(75% - #{$head-height}) calc(25% - #{$foot-height}) $foot-height;
}
#top {
	grid-column: 1/-1; 
	grid-row: 1/2;
	@include lores-font;
}

#bottom {
	grid-column: 1/-1;
	grid-row: -2/-1;
	@include hires-font;
}

button {
	@include lores-font;
}
.box {
	margin: 0.25rem;
	border: 0.1rem solid;
	padding:0.25rem;
	box-sizing: border-box;
	position: relative;
	transition: display 2s;
	overflow:hidden;
}

.box > div {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.explorer {
	grid-column: 1/2; 
	grid-row: 2/-2;
	background: #eeeaea;
}
.explorer > div {
	overflow: scroll;
	width: 9rem;
}

h1, h2, h3, h4, h5, h6 {
	font-size: medium;
	margin: 0;
	font-weight: normal;
	padding:0;
}
.box legend {
	@include hires-font;
}

.box .toolbar {
	position: absolute;
	top: -1.5rem;
	right: .5rem;
	display: flex;
}

.box .toolbar button {
	@include tiny-font;
	border: .1rem solid;
	line-height: 1.1rem;
	margin: 0 0.25rem;
}
.box h1 .title.saveable.unsaved::after {
	content: "*";
}

.box .box-foot {
	position: absolute;
	right: 0;
	bottom: 0;
	color: #0004;
	width: auto;
	height: auto;
	padding: 0.125rem 0.25rem;
}

.box .footnote {
	@include tiny-font;
	font-size: smaller;
	position: absolute;
	left: 0;
	bottom: 0;
	color: #0004;
	width: auto;
	height: auto;
	padding: 0.125rem 0.25rem;
}
.explorer ul {
	margin: 0.25rem 0.125rem;
	padding-left: 1rem;
}

.explorer li {
	list-style-type: "□ ";
	padding-left: 0.25rem;
	transition: all 2s;
}
.explorer li.closed {
	list-style-type: "▹ ";
}
.explorer li.package {
	list-style-type: "📦";
}
.explorer li.java {
	list-style-type: "☕";
}
.explorer li.opened {
	list-style-type: "▿ ";
}
.explorer li::marker {
	font-size: smaller;
}
.explorer {
	@include hires-font;
} 

.explorer h2 {
	color: #eeeaea;
	background-color: black;
	padding: .25rem;
	margin: 0 -2px;
}

.explorer a, .explorer a:visited, .explorer a:link {
	color: #eeeaea;
	text-decoration: none;
}

.collapse {
	display: none;
	transition: all 2s;
}

.collapse.open {
	display: block;
}
.collapse.open.empty {
	display: none;
}
.explorer h2 a::before {
	content: "▸ ";
}
.explorer h2 a.empty::before {
	content: "▿ ";
}
.explorer h2 a.open::before {
	content: "▾ ";
}
.main-alone #editor.box {
	grid-column: 2/-1;
	grid-row: 2/-3;

}

#login.box {
	grid-column: 2/-2;
	grid-row: 2/-3;
	padding: 1rem;
}
#login main, #terms main {
	height: 100%;
}
#login li {
	list-style-type: none;
}
#login a.provider {
	border: 0.2rem outset $sun;
	display: inline-block;
	margin: 0.5rem;
	padding: 0.2rem 0.5rem;
	background-color: $button-bg-hover;
}

#login a.provider:hover {
	background-color: $button-bg-normal;
	color: $pen;
}
#login a.provider:active {
	background-color: $button-bg-active;
	border: 0.2rem inset $sun;
}

#terms iframe {
	width: 100%;
	height: 100%;
}
#terms main {
	overflow-y: scroll;
}

#terms li, #terms p {
	@include hires-font;	
}

#terms.box {
	grid-column: 2/-2;
	grid-row: 3/-2;
	padding: 1rem;
}
.main-alone #figure0.box {
	grid-column: -1/-1;
	grid-row: 2/-3;
	display:none;
}
.mainly-coding #editor.box {
	grid-column: 2/9;
	grid-row: 2/-3;	
}
.mainly-coding #figure0.box {
	grid-column: 9/-1;
	grid-row: 2/-3;
}
.mainly-figure #editor.box {
	grid-column: 2/5;
	grid-row: 2/-3;	
}
.mainly-figure #figure0.box {
	grid-column: 5/-1;
	grid-row: 2/-3;
}
.main-and-figure #editor.box {
	grid-column: 2/7;
	grid-row: 2/-3;
}

.main-and-figure #figure0.box {
	grid-column: 7/-1;
	grid-row: 2/-3;
}
#figure0.box {
	background: white;
}

#console {
	grid-column: 2/-1;
	grid-row: -3/-2;
	background: #eeeaea;
}
#xtermjs-wrap {
	position: relative;
	height: 100%;
	width: 100%;
	background: #000;
	padding: 0.25rem;
}

#figure0 svg {
	height: 100%;
	width: 100%;
	background: #fff;
	cursor: crosshair;
}

#top, #bottom {
	display: flex;
	flex-direction: row;
	align-items: stretch;
}
#top {
	background: $page;
	color: $pen;
	justify-content: start;
}
#bottom {
	background:$pen;
	color: $page;
	text-shadow: 0 0 .5rem $page;
	justify-content: space-between;
}
#bottom #foot-left, #bottom #foot-mid, #bottom #foot-right {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	padding: .2rem;
	flex-basis: 25%;
	justify-content: space-between;
}
#foot-right div {
	margin: -.2rem 0;
	padding: 0 .5rem;
}
#foot-right button {
	background: transparent;
	@include hires-font;	
	line-height: normal;
	color: inherit;
}

#error button, #status button {
//	padding: 0;
	margin: 0;
	border-style: none;
	//background: inherit;
	//color: inherit;
}
.active {
	display: block !important;
}
#error {
	visibility: hidden;
}
#error.active {
	visibility: visible;
	box-shadow: inset 0 0 .5rem black;
	background: red;
	color: black;
}
#error.active:hover {
	visibility: visible;
	box-shadow: inset 0 0 1rem red;
	background: black;
	color: red;
}

#status.online span {
	color: lime;
	text-shadow: 0 0 1rem lime;
}

#status.offline {
	color: orange;
	text-shadow: none;
}

#error > .popup, #status > .popup {
	position: absolute;
	right: 3.5rem;
	bottom: 2.5rem;
	background: black;
	color: red;
	border: 0.2rem solid red;
	padding: 0.2rem;
	display: none;
	font-family: "Glasstown-NBP", sans-serif;
	font-size-adjust: 0.66;
	width: max-content;
}

button {
	background-color: $button-bg-normal;
	color: $pen;
	border:  0px solid $water;
	text-align: end;
	@include lores-font;
	line-height: 100%;
	padding: 0 .2rem;
	position: relative;
	transition: all 0.8s;

}

#top button {
	background-color: $button-bg-header;
}

button:hover {
	background-color: $button-bg-hover;
	color: $pen-sharp;
}
button:active, button.active {
	transition: 0s;
	background-color: $button-bg-active; 
}
#top button span {
	vertical-align: center;
}
#top button span:empty::after {
	content: "\00a0";
}
#top button .long {
	font-size: x-small;
}
#top button .icon {
	float: left;
	font-size: small;
}
#top button:hover .icon {
	color: transparent;
}
#top button:hover::before {
	position: absolute;
	left: 0;
	content: attr(data-shortcut-text);
	text-transform: uppercase;
	margin-left: 0.2rem;
	color: black;
	font-size: x-small;
}


#top button.disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

#top-left {
	display: flex;
	justify-content: start;
	align-items: stretch;
	flex-shrink: 0;
	flex-grow: 0;
	width: max-content;
	height: $head-height;
}

#top-menu {
	flex-shrink: .5;
	flex-grow: .5;
	align-items: last baseline;
	margin: 0 .5em;
	grid-template-columns: repeat(10, 1fr);
	grid-template-rows: [row1] 50% [row2] 50%;
	justify-content: stretch;
	align-content: stretch;
	display: grid;
	gap: 0.1rem;
	flex-grow: .5;
	flex-shrink: 0;
	font-size: small;
	padding: 0.25rem;
}

#top-menu .row1 {
	grid-row: row1;
	align-self: stretch;
}
#top-menu .row2 {
	grid-row: row2;
	align-self: stretch;
}

#top-menu .rows {
	grid-row: span 2/3;
	align-self: stretch;
	width: 60%;
}

#logoimg {
	height: $head-height;
}

#logotext {
	font-size: large;
	font-weight: 600;
	padding-top: 0.5rem;
	padding-right: 0.5rem;
	background-image: linear-gradient(rgba($water,0) 63%, $water 63%);
}
#logotext .version{
	font-size: 0.5rem;
	line-height: 1rem;
	display:block;
	padding: 0 2px;
}
nav a:visited, nav a:link, nav a:hover, nav a:active {
		color: black;
		text-decoration: none;
}
nav a:hover {
	text-shadow: 0 0 3px #888;
}
nav ul {
	padding: 0px;
	margin: 0 4px;
	list-style-type: none;
}

nav li {
	display: inline-block;
}

#middle-column {
	flex: 1 1 auto;
	display: flex;
	flex-flow: column;
} 
#middle-row {
	flex: 2 1 auto;
	display: flex;
	flex-flow: row;
} 
#middle-bottom {
	flex: 1 1 auto;
	display: flex;
	flex-flow: row;
}


#editor {
	display:flex;
	flex-direction: column;
}


#editor-wrap {
	position: relative;
	flex-shrink: 0;
	flex-grow: 2;
}
#editor-embed {
	margin: 0 -2px -2px -2px;
	border: none;
	position: absolute; top: 0; right: 0; bottom: 0; left: 0;
}
#jvm {
	flex-direction: row;
	display: flex;
	width: 100%;
	height: 100%;
}
#jvm h2 {
	padding: 2px;
	border-bottom: 1px solid grey;
	font-size: large;
	font-weight: normal;
	color: grey;
	align-self: flex-start;
}
.selected {
	background-color: #ff8;
	width: 100%;
	display:inline-block;
	position: relative;
}
.selected::after {
	content: "⯇";
	right: 0;
	margin-right: 1rem;
	position: absolute;
}
.selected::before {
	content: "⯈";
	left: 0;
	margin-left: 1rem;
	position: absolute;
}
.stackframes {
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	position: absolute;
	bottom: 0;
	width: 100%;
}
.stackframe {
	list-style: none;
	text-align: center;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	display:inline-block;
	padding: 0px;
	flex-shrink: 3;
}
.stackframe-args {
	background-color: #ffe;
}
.stackframe-locals {
	background-color: #fef;
}
.stackframe-internal {
	background-color: #eff;
}

.completion {
	position:absolute;
	bottom: .2rem;
	z-index:2000;
	overflow:hidden;
}
.completion datalist {
	display:block;
	height: 100%;
	overflow: scroll;
}
/*
.stackframe li {
	border-bottom: 1px solid grey;
}
*/
#stack {
	width: 12rem;
	height: 100%;
	background-color: #eee;
	position:relative;
}

#heap {
	width: 40rem;
	height: 100%;
	background-color: #eef;
}

#program {
	width: 20rem;
	height: 100%;
	background-color: #efe;
}

#instructions {
	width: 20rem;
	height: 100%;
	background-color: #fee;
	overflow: auto;
}

#instructions pre {
	font-family: monospace;
	white-space: pre;
}
instructions {
	display: table;
	width: 100%;
}
instruction {
	display: table-row;
	font-family: monospace;
}

instruction.line-even {
	background-color: #eef;
}

linenum, label, mnemonic, args, nolabel {
	display: table-cell;
	padding: 0px 4px;
}

linenum {
	font-size: small;
	color: grey;
}

label::after {
	content: ":";
}

method h6 {
	font-size: normal;
	font-weight: medium;
	font-style: italic;
}

.show-splash-help .splashhelp {
	width: 70%;
	height: 75%;
	opacity: 100%;
	left: 15%;
	top: 15%;
	transition: all 0s;
//	border: .25rem solid $border-active;
	z-index: 2000;
}

.show-splash-help #help {
	background: $button-bg-hover;
	color: $pen-sharp;
	animation: none;
}
@keyframes bouncy-button {
  0% {background: $button-bg-hover; color: $pen-sharp; transform: rotate(0deg)}
  10% {color: $water}
  20% { color: $pen-sharp; transform: rotate(5deg)}
  30% { background: $button-bg-active; color:$water}
  40% { color: $pen-sharp; transform: rotate(-3deg)}
  50% {background: $button-bg-hover; color: $water}
  60% { color: $pen-sharp; transform: rotate(2deg)}
  70% { color:$water}
  80% {background: $button-bg-normal;  color: $pen; transform: rotate(-1deg)}
  90% { color: $water}
  100% { color: $pen; transform: rotate(0deg)}
}

#help {
	background: $button-bg-header;
	color: $pen;
animation-name: bouncy-button;
animation-duration: 1s;
//animation-iteration-count: 1;
//animation-direction: alternate-reverse;
animation-timing-function: ease-out;
}
.splashhelp {
	box-shadow: 0px 0px 1rem $page;
	//border-width: 0;
	overflow: hidden;
	background-color: $sun;
	opacity: 0%;
	color: $pen;
	padding: .25rem;
	width: 0;
	height: 0;
	left: 85%;
	top: 0%;
	position: absolute;	
	@include lores-font;
	transition: opacity .5s ease-out, height .25s ease-out, width .25s ease-out .125s, left .25s ease-out .125s, top .25s ease-out .125s, border 1s ease-out;
	z-index: -1000;
}

.splashhelp h2 {
	padding: .25rem;
	margin: -.25rem -.25rem 0 -.25rem;
	@include lores-font;
	background-color: $page;
	color: $pen-sharp;
	text-align: center;
}
.splashhelp a:hover {
	color: $pen-sharp;
	background: $water;
}

.splashhelp code {
	color: $terminal;
}
.shell-sample li, .shell-sample a:link, .shell-sample a:visited {
	color: $terminal;
}

.shell-sample a:hover {
	background: $terminal;
	color: $sun;
}

ul.shell-sample {
	padding-left: 1rem;
}
.shell-sample li {
	list-style-type: "";
	text-indent: -2rem;
	padding-left: 2rem;
}

.shell-sample li::before {
	content: "> ";
	color: $prompt;
}
.shell-sample li li {
	padding-left: 2rem;
}
.shell-sample li li::before {
	content: "";
	color: $prompt;
}

blockquote p:first-child::before {
	content: "“";
	font-size: 2rem;
	initial-letter: 2;
}
blockquote p:last-child::after {
	content: "“";
	font-size: 2rem;
	initial-letter: 2;
}
blockquote footer {
	font-style: italic;
	text-align: right;
}

div#excavator {
	background-size: 51px 26px;
	position: absolute;
	left: -200px;
	top: 500px;
	width: 51px;
	height: 26px;
	rotate: -20deg;
	transition: left 20s, top 20s, rotate 7s 12s;
	background-image: url(../images/excavator-still.gif);
}

div#excavator.working {
	left: 290px;
	top: 480px;
//	left: 395px;
//	top: 575px;
	rotate: 5deg;
}

div#excavator.digging {
	background-image: url(../images/excavator.gif);
}
@import '~xterm/css/xterm.css';